.tamañoLogo {
  width: 50px;
  height: 50px;
}

.colornav {
  background-color: #a8dadc;
  color: #230051;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.activado {
  color: #230051;
}

.hora {
  z-index: 100;
  position: fixed;
  top: 25px;
  right: 100px;
}

.divCarrito {
  position: fixed;
  top: 0px;
  right: 240px;
  width: 80px;
  height: 80px;
  z-index: 1000;
}

.tamañoIcono {
  font-size: 80px;
  color: #230051;
}
