<div #asTitle class="divMarginTop colorMorado pt-3">
    <h2 class="text-center display-4">Agregue Sus Libros</h2>
</div>

<div #idDivCarrito class=" divCarrito container shadow-lg">
    <div class="text-center border" *ngFor="let carrito of items">
        <h5> Nombre: {{carrito.nombre | uppercase}}</h5>
        <h5>Autor: {{carrito.autor | uppercase}}</h5>
        <h5>Precio:$ {{carrito.precio | uppercase}}</h5>
    </div>
    <button class="btn bgBotonCatalogo mt-3" (click)="imprimir()">Pagar</button>
    <button class="btn bgBotonCatalogo mt-3 ms-3" (click)="limpiarCarrito()">Limpiar</button>
  
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-3 shadow m-3 p-0 text-center " *ngFor="let libro of libros |slice:desde:hasta">
            <img class="img-fluid" src="{{libro.imglibro}}" alt="Logo">
            <h2 class="card-title mt-3"> Nombre: {{libro.nombre | uppercase}}</h2>
            <h5 class="card-title">Autor: {{libro.autor | titlecase}}</h5>
            <h5 class="card-title">Precio:$ {{libro.precio | uppercase}}</h5>
            <div class="d-flex justify-content-center pb-3">
                <button class="btn bgBotonCatalogo" (click)="adicionarCarrito(libro)">AGREGAR</button>
            </div>
        </div>
        <mat-paginator [length]="libros.length" [pageSize]="pageSize" (page)="cambiarpagina($event)">
        </mat-paginator>
    </div>
</div>
<i (click) = "showCart()" class="material-icons tamañoIcono">shopping_cart</i>