.bgBotonCatalogo {
  background-color: #230051;
  color: #ffff;
}

.bgBotonCatalogo:hover {
  background-color: #a8dadc;
  color: #230051;
  font-weight: bold;
}

.tamañoIcono {
  position: fixed;
  top: 80px;
  right: 0px;
  z-index: 100;
  font-size: 80px;
  color: #230051;
}

.divCarrito {
  width: 50%;
  background-color: #ffff;
  margin: auto;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  padding: 20px;
  color: #230051;
  display: none;
}
