.bgBotonCatalogo {
  background-color: #230051;
  color: #ffff;
}

.bgBotonCatalogo:hover {
  background-color: #a8dadc;
  color: #230051;
  font-weight: bold;
}

.tamañoIcono {
  font-size: 80px;
  color: #230051;
}

.divCarrito {
  padding: 20px;
  color: #230051;
}
