<div class="container divMarginTop">
    <h1 class="text-center p-3 colorMorado display-2">Nosotros</h1>
</div>
<div class="container w-50">
    <div class="row">
        <div class="col-12 col-md-6 ">
            <div class="w-100 p-3">
                <img class="img-fluid" src="assets/img/felipe.jpg" alt="Imagen ariela">
            </div>
            <div class="w-100">
                <h4 class="text-center ">Felipe Lucero Muñoz</h4>
                <p class=" text-center">Desarrollador Full Stack</p>
                <p class="text-center">Trabajador de NTT Data </p>
            </div>
        </div>
        <div class="col-12 col-md-6 ">
            <div class="w-100 p-3 ">
                <img class="img-fluid" src="assets/img/ariela.png" alt="Imagen ariela">
            </div>
            <div class="w-100">
                <h4 class="text-center ">Ariela Vásquez Bueno</h4>
                <p class=" text-center">Desarrollador Full Stack</p>
                <p class="text-center">Trabajador de NTT Data </p>
            </div>
        </div>
    </div>
</div>