<div class="container divMarginTop">
    <h1 class="text-center  p-3  colorMorado fontencabezado">Nosotros</h1>
</div>
<div class="container tamañonosotros">
    <div class="row">
        <div class=" col-12 col-md-6">
            <div class="card">
                <img class="card-img-top" src="http://picsum.photos/500/500" alt="Imagen aleatoria">
                <div class="card-body">
                    <h4 class="card-title text-center fontencabezado">Felipe Lucero Muñoz</h4>
                    <p class="card-text text-center">Desarrollador Full Stack</p>
                    <p class="text-center">Trabajador de NTT Data </p>
                </div>
            </div>
        </div>
        <div class=" col-12 col-md-6">
            <div class="card">
                <img class="card-img-top" src="assets/img/ariela.jpeg " alt="Imagen aleatoria">
                <div class="card-body">
                    <h4 class="card-title text-center fontencabezado">Ariela Vásquez Bueno</h4>
                    <p class="card-text text-center">Desarrollador Full Stack</p>
                    <p class="text-center">Trabajador de NTT Data </p>
                </div>
            </div>
        </div>
    </div>
</div>