<div class="container d-flex justify-content-center divMarginTop ">
    <div class="my-5 shadow">
        <div class="text-center pt-5">
            <h4>Ingresar</h4>
        </div>
        <div class="w-100  h-100">
            <img class="contLogo" src="/assets/img/libreria-lila.png" alt="lila.png">
        </div>
        <div class="text-center">
            <div>
                <button type="button " (click)="login()" class="btn bgBoton">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</div>