<div class="container d-flex justify-content-center divMarginTop ">
    <div class="my-5">
        <div class="text-center shadow p-2">
            <h4>Ingresar</h4>
        </div>
        <div class="w-100  h-100 shadow">
            <img class="contLogo" src="/assets/img/libreria-lila.png" alt="lila.png">
        </div>
        <div class="text-center shadow p-3">
            <div>
                <button type="button " (click)="login()" class="btn bgBoton">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</div>