<div class="container marginTop shadow">
    <div class="row">
        <div class="col-12 col-md-8">
            <form [formGroup]="form">
                <div>
                    <div class="card-header encabezado">
                        <h4 class="card-title text-center ">{{titulo}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label fw-bold" for="nombre">Ingresar Titulo</label>
                            <input class="form-control" type="text" placeholder="Ej. Papelucho" formControlName="nombre"
                                [(ngModel)]="libro.nombre" [ngClass]="{'is-invalid':submitted && f['nombre'].errors}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold" for="autor">Ingresar Autor</label>
                            <input class="form-control" type="text" placeholder="Ej. Marcela Paz"
                                formControlName="autor" [(ngModel)]="libro.autor"
                                [ngClass]="{'is-invalid':submitted && f['autor'].errors}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold" for="detalle">Descripción</label>
                            <textarea class="form-control"
                                placeholder="Ej. Papelucho es el protagonista de una serie de libros para niños creado por la escritora chilena Marcela Paz que narran las aventuras de un niño chileno. Papelucho se basa en las experiencias de la autora en su infancia, y los libros están escritos en la forma de un diario de vida escrito por el personaje principal."
                                rows="6" formControlName="detalle" [(ngModel)]="libro.detalle"
                                [ngClass]="{'is-invalid':submitted && f['detalle'].errors}"></textarea>
                        </div>
                        <div>
                            <label class="form-label fw-bold" for="imglibro">Adjuntar Imagen de Libro</label>
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <input class="form-control " type='file' alife-file-to-base64
                                        (onFileChanged)="onFileChanged($event)" formControlName="imglibro"
                                        [(ngModel)]="libro.imglibro"
                                        [ngClass]="{'is-invalid':submitted && f['imglibro'].errors}">
                                </div>
                                <div class="col-12 col-md-4 d-flex justify-content-center align-content-center">
                                    <img class="imgcrud" src="{{libro.imglibro}}" alt="cargando IMG..................">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold" for="categoria">Categoría</label>
                            <input class="form-control" type="text" placeholder="Ej. Infantil"
                                formControlName="categoria" [(ngModel)]="libro.categoria"
                                [ngClass]="{'is-invalid':submitted && f['categoria'].errors}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold" for="precio">Precio</label>
                            <input class="form-control" type="text" placeholder="Ej. $5000" formControlName="precio"
                                [(ngModel)]="libro.precio" [ngClass]="{'is-invalid':submitted && f['precio'].errors}">
                        </div>
                    </div>
                </div>
                <div class="container mb-3">
                    <button class="btn btn-lg btn-outline-primary me-4" (click)="onSubmit()"
                        *ngIf="!libro.id else elseBlock" role="button">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-lg  btn-outline-primary me-4" (click)="updateLibro()"
                            role="button">Editar</button>
                    </ng-template>
                    <button type="button" (click)="onReset()"
                        class="btn btn-lg me-4 btn-outline-warning">Limpiar</button>
                    <button type="button" class="btn btn-lg  btn-outline-success" routerLink="/crud">Volver</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <div>
                <img class="img-fluid" src="/assets/img/logo-claro.png" alt="imgIngresoLibros">
            </div>
        </div>
    </div>
</div>