* {
  font-family: "Poppins";
}

.colorMorado {
  color: #230051;
}

.bgColorMorado {
  background-color: #230051;
}

.bgBoton {
  background-color: #ad8ada;
}

.bgBoton:hover {
  background-color: #a8dadc;
}

.colorBgCeleste {
  background-color: #a8dadc;
}

.carousel .carousel-indicators button {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  border-spacing: 150px;
}

.divMarginTop {
  margin-top: 80px;
}
